<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="icon" type="image/x-icon" href="/static/public/logo.png">
    <title>About</title>
</head>

<body>
    <div class="container">
        <h1>ASCII ART GENERATOR</h1>
        <p>This ASCII art generator is a versatile tool that transforms input strings into eye-catching ASCII art.
            It offers
            three distinct banner styles to suit various aesthetic preferences:</p>

        <p><span>Standard</span>: A classic ASCII art style with simple, bold characters.</p>
        <p><span>Shadow</span>: Adds depth to the text by incorporating shadow effects.</p>
        <p><span>Thinkertoy</span>: A playful, minimalist style reminiscent of early computer graphics.</p>

        <h2>Features</h2>
        <p>Converts any input string to ASCII art</p>
        <p>Supports three unique banner styles: Standard, Shadow, and Thinkertoy</p>
        <p>Easy-to-use interface for quick ASCII art creation</p>
        <p>Ideal for adding visual flair to console applications, text-based UIs, or creative coding projects
        <h2>Usage</h2>
        <p>Users can input their desired text and select one of the three available banner styles. The generator
            then
            processes the input and outputs the corresponding ASCII art representation.</p>
        <h2>Standard Example</h2>
        <pre>

  _    _          _   _                __          __                 _       _   _  
 | |  | |        | | | |               \ \        / /                | |     | | | | 
 | |__| |   ___  | | | |   ___          \ \  /\  / /    ___    _ __  | |   __| | | | 
 |  __  |  / _ \ | | | |  / _ \          \ \/  \/ /    / _ \  | '__| | |  / _` | | | 
 | |  | | |  __/ | | | | | (_) |          \  /\  /    | (_) | | |    | | | (_| | |_| 
 |_|  |_|  \___| |_| |_|  \___/            \/  \/      \___/  |_|    |_|  \__,_| (_) 
                                                                                     
                                                                                     
    </pre>
        <h2>Shadow Example</h2>
        <pre>

_|    _|          _| _|                _|          _|                   _|       _| _| 
_|    _|   _|_|   _| _|   _|_|         _|          _|   _|_|   _|  _|_| _|   _|_|_| _| 
_|_|_|_| _|_|_|_| _| _| _|    _|       _|    _|    _| _|    _| _|_|     _| _|    _| _| 
_|    _| _|       _| _| _|    _|         _|  _|  _|   _|    _| _|       _| _|    _|    
_|    _|   _|_|_| _| _|   _|_|             _|  _|       _|_|   _|       _|   _|_|_| _| 
                                                                                       
                                                                                       
    </pre>
        <h2>Thinkertoy Example</h2>
        <pre>

o  o     o o           o       o         o    o o 
|  |     | |           |       |         |    | | 
O--O o-o | | o-o       o   o   o o-o o-o |  o-O o 
|  | |-' | | | |        \ / \ /  | | |   | |  |   
o  o o-o o o o-o         o   o   o-o o   o  o-o O 
                                                  
                                                  
    </pre>
    </div>
    <div class="go-back">
        <a href="/">Go Back</a>
    </div>
</body>

</html>