<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/authors.css">
    <link rel="icon" type="image/x-icon" href="/static/public/logo.png">
    <title>Authors</title>
</head>
<body>
    <div class="container">
        <div class="afethi">
            <img src="/static/public/afethi.jpg" alt="author-img">
            <p>FETHI ABDERRAHMANE</p>
            <div class="socials">
                <a href="https://github.com/A-fethi" target="_blank"><img src="/static/public/github-logo.png" alt="afethi's Github"></a>
                <a href="https://linkedin.com/in/abderrahmane-fethi" target="_blank"><img src="/static/public/linkedin.png" alt="afethi's LinkedIn"></a>
            </div>
        </div>
        <div class="jamal">
            <img src="/static/public/jbajady.jpeg" alt="author-img">
            <p>BAJADY JAMAL</p>
            <div class="socials">
                <a href="https://github.com/jbajady" target="_blank"><img src="/static/public/github-logo.png" alt="jamal's Github"></a>
                <a href="https://www.linkedin.com/in/jamal-bajady-421815260/" target="_blank"><img src="/static/public/linkedin.png" alt="jamal's LinkedIn"></a>
            </div>
        </div>
    </div>
    <div class="go-back">
        <a href="/">Go Back</a>
    </div>
</body>
</html>