@font-face {
    font-family: "IBM-Regular";
    src: url(/static/fonts/IBMPlexMono-regular-latin.woff2);
}

@font-face {
    font-family: "IBM-Text";
    src: url(/static/fonts/IBMPlexSans-text-latin.woff2);
}

:root {
    --white0: #FFFFFF;
    --white15: #E3E3E3;
    --black75: #333036;
    --black80: #272529;
    --grey30: #B2ACB8;
    --grey90: #1A1A1A;
    --purple10: #D7C2FF;
    --purple15: #CAADFF;
    --purple30: #9969FF;
    --purple45: #601AFF;
    --blue75: #00748A;
    --white: var(--white0);
    --black: var(--grey90);
}

::selection {
    background-color: var(--purple15);
}

html {
    color: var(--grey80);
    font-family: "IBM-Regular";
    background-color: var(--white15);
    background-image: url(/static/public/01-trame\ rotated3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(51,48,54, 0.8);
    border-radius: 5px;
}

#navigation-container ul {
    display: flex;
    gap: 3rem;
    color: var(--white0);
    list-style: none;
    margin-right: 30px;
}

#navigation-container ul li a:hover {
    color: var(--purple15);
    font-weight: bold;
}

#navigation-container ul li a {
    color: var(--white);
    text-decoration: none;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.form {
    font-weight: bold;
    font-size: larger;
}

textarea {
    font-family: "IBM-Text";
    font-size: medium;
    text-align: center;
    background-color: rgb(49,48,51, 0.3);
    width: 80%;
    height: 180px;
    resize: none;
    outline: none;
    color: #ffffff;
    border-radius: 50px;
    padding: 13px;
}

textarea:focus {
    border: solid 2px var(--purple30);
}

button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--grey90);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--blue75);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
button:hover {
    background-color: #fff;
    color: var(--grey90);
    border: 2px solid var(--grey90);
    box-shadow: 3px 3px 3px var(--purple10);
}

input[type=radio] {
    display: none;
}

label {
    color: var(--black80);
    border: solid 1px var(--black75);
    background-color: var(--white15);
    padding: 5px;
    border-radius: 10px;
}

label:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

input[type=radio]:checked + label {
    background-color: var(--black);
    color: var(--white);
}

.output {
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}

.output::-webkit-scrollbar {
    width: 12px;
    overflow-y: hidden;
}
  
.output::-webkit-scrollbar-track {
    background: var(--grey30);
    border-radius: 50px;
}
  
.output::-webkit-scrollbar-thumb {
    background-color: var(--purple45);
    border-radius: 20px;
    border: 3px solid var(--grey30);
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .title {
        font-size: 12px;
    }

    #navigation-container {
        padding: 1px;
        border-radius: 5px;
    }
    
    #navigation-container ul {
        font-size: 12px;
        gap: 1rem;
        margin-right: 14px;
    }

    button {
        padding: 5px 10px;
        font-size: 10px;
        border: 1px solid #000;
        box-shadow: 2px 2px 3px var(--blue75);
    }
      
    button:hover {
        border: 1px solid var(--grey90);
        box-shadow: 2px 2px 2px var(--purple10);
    }

    .title, label, textarea, .form p {
        font-size: 12px;
    }

    .output {
        font-size: x-small;
    }
}

@media screen and (max-width: 1280px) and (min-width: 601px){
    .title {
        font-size: 13px;
    }

    #navigation-container {
        padding: 3px;
        border-radius: 10px;
    }
    
    #navigation-container ul {
        font-size: 13px;
        gap: 2rem;
        margin-right: 10px;
    }

    label, textarea, .form p, .output, button {
        font-size: 13px;
    }
}



@media screen and (max-width: 2559px) and (min-width: 1441px){
    .title {
        font-size: 16px;
    }

    #navigation-container {
        padding: 3px;
        border-radius: 10px;
    }
    
    #navigation-container ul {
        font-size: 16px;
        gap: 2rem;
        margin-right: 10px;
    }

    label, textarea, .form p, .output, button {
        font-size: 14px;
    }

    .output {
        margin-top: 20px;
    }
}

@media screen and (min-width: 2560px) {
    .title {
        font-size: 25px;
    }

    #navigation-container {
        padding: 4px;
        border-radius: 5px;
    }
    
    #navigation-container ul {
        font-size: x-large;
        gap: 5rem;
        margin-right: 7rem;
    }

    #navigation-container a img {
        width: 100px;
        height: 100px;
    }

    .form p {
        font-size: x-large;
    }

    button {
        padding: 10px 20px;
        font-size: x-large;
        border: 3px solid #000;
        box-shadow: 5px 5px 5px var(--blue75);
      }
      
    button:hover {
        border: 5px solid var(--grey90);
        box-shadow: 5px 5px 5px var(--purple10);
    }

    label {
        font-size: x-large;
    }

    textarea {
        font-size: x-large;
        min-height: 300px;
        max-height: 300px;
    }

    .output {
        font-size: x-large;
        min-height: 400px;
        max-height: 400px;
    }
}