@font-face {
    font-family: "IBM-Regular";
    src: url(/static/fonts/IBMPlexMono-regular-latin.woff2);
}

@font-face {
    font-family: "IBM-Text";
    src: url(/static/fonts/IBMPlexSans-text-latin.woff2);
}

:root {
    --white15: #E3E3E3;
    --grey80: #333333;
    --purple15: #CAADFF;
}

::selection {
    background-color: var(--purple15);
}

html {
    color: var(--grey80);
    font-family: "IBM-Regular";
    background-color: var(--white15);
    background-image: url(/static/public/01-trame\ rotated3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

p {
    font-family: "IBM-Text";
    font-size: 60px;
    color: rgb(108,99,255);
    -webkit-text-stroke: rgb(47,46,65) 1px;
}

img {
    margin-top: 190px;
    width: 700px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    p {
        font-size: 15px;
    }
    
    img {
        margin-top: 265px;
        width: 290px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 601px) {
    p {
        font-size: 30px;
    }
    
    img {
        margin-top: 220px;
        width: 430px;
    }
}

@media screen and (min-width: 2560px) {
    p {
        font-size: 100px;
        -webkit-text-stroke: rgb(47,46,65) 2px;
    }
    
    img {
        margin-top: 320px;
        width: 1000px;
    }
}