<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/public/logo.png">
    <title>Ascii-art-web</title>
</head>

<body>
    <div class="navigation-bar">
        <div id="navigation-container">
            <a href="https://zone01oujda.ma/" target="_blank"><img src="/static/public/logo.png" alt="logo"></a>
            <ul>
                <li><a class="links" href="https://github.com/A-fethi/ascii-art-web/tree/main" target="_blank">Github-Repo</a>
                </li>
                <li><a class="links" href="/authors">Authors</a></li>
                <li><a class="links" href="/about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="title">
            <h1>ASCII Art Generator</h1>
            <p>Enter your Text:</p>
        </div>
        <div class="form">
            <form action="/ascii-art" method="post">
                <textarea name="text" maxlength="1000" required></textarea>
                <p>Please select your favorite BANNER File:</p>
                <input type="radio" id="standard" value="standard" name="banner" checked>
                <label for="standard">Standard</label>
                <input type="radio" id="shadow" value="shadow" name="banner">
                <label for="shadow">Shadow</label>
                <input type="radio" id="thinkertoy" value="thinkertoy" name="banner">
                <label for="thinkertoy">Thinkertoy</label><br><br>
                <button type="submit">Submit</button>
                <p>Your text will appear below</p>
            </form>
        </div>
    </div>
    <div class="output">
        <pre>{{.}}</pre>
    </div>
</body>

</html>